<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518333883999-u7pfb21167hi1oc1lbqirjci8hsbejtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518333883999-u7pfb21167hi1oc1lbqirjci8hsbejtm</string>
	<key>API_KEY</key>
	<string>AIzaSyBrq73P_j1t0c4ow8O7HQOT_3hkvjYDRpk</string>
	<key>GCM_SENDER_ID</key>
	<string>518333883999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Leebumju.PackService</string>
	<key>PROJECT_ID</key>
	<string>packservice-4b7a2</string>
	<key>STORAGE_BUCKET</key>
	<string>packservice-4b7a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518333883999:ios:c4186af5f78a9487731dea</string>
</dict>
</plist>